<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function submit() {
        const file = document.getElementById("image_input").files[0];
        const form = new FormData();
        form.append("image", file);
        fetch("http://localhost:1234/upload", {
          method: "POST",
          body: form,
          // headers: {
          //   "Content-Type": "application/json",
          // },
        });
      }
    </script>
  </head>
  <body>
    <h2>하이</h2>
    <input id="image_input" type="file" name="image" />
    <button onclick="submit()">완료</button>
  </body>
</html>
